* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #1d1d1b;
}

.btn {
  .flex-row;
  font-weight: 500;
  border-radius: 3px;
  background: #006e2f;
  border: 1px solid #007c36;
  color: #fff;
  padding: 10px 45px;
  font-size: 18px;
  @media @md {
    padding: 5px 15px;
    font-size: 14px;
  }
}

.con-main-wrap {
  width: 1200px;
  margin: 0 auto;
  @media @md {
    width: 100%;
  }
}
h3 {
  font-weight: 700;
  color: #007c36;
  @media @md {
  }
}
